<div class="inner">
  <h6>
    <%= image_tag @url.image_link, width: '80px', height: '50px' %>
    <%= @url.title %>
  </h6>
  <small><%= @url.description %></small>
  <p><%= @url.hit_count %></p>
</div>